* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
  }
  
  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: gray;
  }

  .regular{
    font-size: 15pt;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.title{
    font-size: 80pt;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

  .section {
    width: 100vw; /* 100% == 100vw vieport width */
    max-width: 100%; /* hack for 100vw */
    height: auto; /* VH = viewport height */
  }
  
  .section-about {
    background-color: white;
  }
  .section-portfolio {
    background-color: white;
  }
  .section-contacts {
    background-color: white;
  }

  .header {
    background-color: transparent;  
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .wrapper,
  .section .wrapper {

    width: 960px;
    margin: 0 auto;
  }
  
  .logo {
    color: black;
    font-size: 15pt;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: transparent;
    padding-left: 6pt;
  }

  .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20pt;
}
  
  .menu li {
    width: 100%;
  }
  
  .menu a {
    font-size: 15pt;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: right;
    padding-right: 0pt;
  }

  .conteiner{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      width: 100%;
  }

  .conteiner-text{
   text-align: center;
    padding:0 50pt 100pt 50pt;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }
  .gallery--item {
    width: 30%;
  }
  .gallery--item img {
    width: 100%;
    display: block;
  }

  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-bottom: 50pt;
  }
  